._wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
}

.full-bleed {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.section-content {
	padding: 20px 20px 40px;
	gap: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px 0;

	font-size: 4rem;
	letter-spacing: 2px;
	line-height: 4rem;
	color: var(--bg-color);
	text-align: center;
	text-transform: capitalize;
}

.section__title::after {
	content: "";
	display: block;
	width: 50px;
	height: 1px;
	background: var(--bg-color);
}
.section__text {
	text-align: center;
	line-height: 4rem;
	letter-spacing: 2px;
}

.button {
	padding: 9px;
	border-radius: 2px;
	border: 1px solid var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--bg-color);
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 1px;
	transition: 120ms ease-in-out;
}
.button:hover:not(:active,:disabled),
.button_hover{
	cursor: pointer;
	box-shadow: inset 0px 0px 3px var(--color-active);
}
.button:active,
.button_active {
	cursor: pointer;
	background-color: var(--color-active);
	border-color:var(--color-active);
}
.button:disabled,
.button_disabled {
	cursor: not-allowed;
	color: var(--color-active);
	border-color: var(--color-active);
	background-color: transparent;
}
.text-input {
	padding: 8px 20px;
	font:var(--header-font);
	color:var(--color-active);
	font-size: 3rem;
	border-radius: 10px;
	background: #FFF;
}
.text-input::placeholder{
	color: var(--color-disabled);
}