
.about-text {
	margin-bottom: -2rem;
	line-height: 4rem;
	letter-spacing: normal;
}

.carousel {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.carousel__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 25px;
}

.carousel__image {
	width: 450px;
	height: 560px;
	object-fit: cover;
}

.pagination {
	margin-top: -5px;
	margin-bottom: -5px;
	display: flex;
	justify-content: space-between;
}

.pagination__button {
	width: 26px;
	height: 26px;
	background: transparent;
	border-radius: 50%;
}
.pagination__button::after{
	content:"";
	margin: auto;
	position: relative;
	border-radius: 50%;
	display: block;
	width: 16px;
	height: 16px;
	background: var(--bg-color);
	transition: var(--transition-120);
}
.pagination__button_active::after,
.pagination__button:active::after {
	background: var(--color-active);
}

.pagination__button_hover,
.pagination__button:hover {
	cursor: pointer;
}
.pagination__button_hover::after,
.pagination__button:hover::after {
	scale: 1.1;
}