.header-container {
	background: var(--bg-color);
}

.header__content {
	position: relative;
	width: 100%;
	padding: 20px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__content>.title {
	flex-grow: 1;
}

.title {
	letter-spacing: 0.6px;
}

.home-link {
	color: var(--text-color-light);
	transition: var(--transition-120);
}
.home-link:hover {
	text-shadow :0 0px 0.5em var(--text-color-light);
}
.controls{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	transition: var(--transition-120);

}
.controls_open{
	position: fixed;
	height: 50px;
	z-index: 1;
	top: 20px;
	right:20px;
}
.nav-menu {
	display: flex;
	background: transparent;
	transition: var(--transition-120);
}
.nav-menu_open {
	transform: translateX(-332px);
}
.nav-menu__links {
	display: flex;
	align-items: center;
	gap: 30px;
}

.nav-menu__link {
	font: var(--content-font);
	color: var(--text-color-light);
}
.auth-menu{
	position: relative;
	z-index: 2;
}
.auth-menu__profile {
	position: relative;
	border-radius: 50%;
	height: 28px;
	width: 28px;

	display: flex;
	align-items: center;
	justify-content: center;

	color:var(--color-active);
	font-size: 1.5rem;
	font-style: normal;
	line-height: 2rem;
}
.auth-menu__menu{
	/* left: calc(50% - 80px / 2); */
	padding: 5px;
	top: calc(100% + 28px);
	right: 0;
	width: 80px;
	height: 115px;
	position: absolute;
	z-index: 2;

	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
	background: var(--text-color-light);

	font-size: 1.5rem;
	line-height: 2rem;
	transition: transform 120ms ease-in-out;
	transform: scaleY(1);
}
.auth-menu__menu.hidden{
	transform: scaleY(0);
}
.auth-menu__title{
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	font-weight: 700;
}
.auth-menu__title::after{
	/* margin-top: -1px; */
	width: 40px;
	height: 1px;
	display: block;
	content: "";
	background: var(--color-active);
}


.auth-menu__button:hover{
	cursor: pointer;
	text-decoration: underline;
}
.auth-menu__button:active{
	scale:1.1;
}
.burger-button{
	display:none;
	width: 45px;
	height: 32px;
	position: relative;
	z-index: 2;
	align-items: center;
}
.burger-button:hover{
	cursor:pointer;
}
.burger-button>div{
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--text-color-light);
	transition: 200ms ease-in-out;
}

.burger-button>div:nth-child(1){
	position: absolute;
	top: 6px;

}
.burger-button>div:nth-child(3){
	position: absolute;
	bottom: 6px;
}
.burger-button_closed>div:nth-child(1),
.burger-button:active>div:nth-child(1) {
	top: calc(50% - 1px);
	transform: rotate(45deg);
}

.burger-button_closed>div:nth-child(2),
.burger-button:active>div:nth-child(2){
	transform: scaleX(0);
}
.burger-button_closed>div:nth-child(3),
.burger-button:active>div:nth-child(3) {
	bottom: calc(50% - 1px);
	transform: rotate(-45deg);
}

@media (max-width: 1024px) {
	.nav-menu {
		position: fixed;
		top: 0px;
		right: -332px;
		height: 570px;
		width: 332px;
		order:3;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--bg-color);
	}
	.nav-menu__links{
		flex-direction: column;
		line-height: 50px;
	}
	.burger-button{
		display: flex;
	}

}