@font-face {
  font-family: 'Pixeloid';
  src: url('../assets/fonts/pixeloid-font/PixeloidSans-mLxMm.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pixeloid mono';
  src: url('../assets/fonts/pixeloid-font/PixeloidMono-d94EV.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pixeloid';
  src: url('../assets/fonts/pixeloid-font/PixeloidSansBold-PKnYd.ttf') format('truetype');

  font-weight: bold;
  font-style: normal;
}
